# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out

DBApp.app/Contents/MacOS/DBApp
DBAppHTML.h
DBApp.app/Contents/Resources/MainMenu.nib
sortable.css
sortable.js
webview.h
*.zip
.*.cnf
.vscode/settings.json
