#container {
    position: relative;
}
#loginview {
    position: absolute;
}
#dbview {
    position: absolute;
}
.main-head {
    grid-area: header;
}
.content {
    grid-area: content;
}
.main-nav {
    grid-area: nav;
}
.main-footer {
    grid-area: footer;
}
.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "header"
        "nav"
        "content"
        "footer";
}
@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "header  header"
            "nav     nav"
            "content content"
            "footer  footer";
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
}
@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 2fr 4fr;
        grid-template-areas:
            "header header"
            "nav    content"
            "nav    content"
            "footer footer "
    }
    nav ul {
        flex-direction: column;
    }
}


/* prism code editing support */
#editing, #highlighting {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    margin: 10px;
    padding: 10px;
    border: 0;
    width: calc(100% - 32px);
    height: 150px;
}

#editing, #highlighting, #highlighting * {
    /* Also add text styles to highlighting tokens */
    font-size: 15pt;
    font-family: monospace;
    line-height: 20pt;
}

#editing, #highlighting {
    position: absolute;
    top: 0;
    left: 0;
}

/* Move the textarea in front of the result */
#editing {
    z-index: 1;
}
  
#highlighting {
    z-index: 0;
}

/* Make textarea almost completely transparent */
#editing {
    color: transparent;
    background: transparent;
    caret-color: white; /* Or choose your favorite color */
}

/* Can be scrolled */
#editing, #highlighting {
    overflow: auto;
    white-space: nowrap; /* Allows textarea to scroll horizontally */
}

/* No resize on textarea */
#editing {
    resize: none;
}